<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>BizPage Bootstrap Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
        <!-- <base href="/"> -->
          <!-- Favicons -->
        <link href="img/favicon.png" rel="icon">
        <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet" type="text/hmtl">

        <!-- Bootstrap CSS File -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" type="text/hmtl">

        <!-- Libraries CSS Files -->
        <link href="/../../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/hmtl">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" type="text/hmtl">
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
        <link href="/../../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" type="text/hmtl">
        <link href="/../../lib/lightbox/css/lightbox.min.css" rel="stylesheet" type="text/hmtl">
        <!-- Favicons -->
        <!-- <link href="img/favicon.png" rel="icon">
        <link href="img/apple-touch-icon.png" rel="apple-touch-icon"> -->

        <!-- Google Fonts -->
        <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet"> -->

        <!-- Bootstrap CSS File -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> -->

        <!-- Libraries CSS Files -->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css" integrity="sha512-kJ30H6g4NGhWopgdseRb8wTsyllFUYIx3hiUwmGAkgA9B/JbzUBDQVr2VVlWGde6sdBVOG7oU8AL35ORDuMm8g==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" /> -->

        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" integrity="sha512-ZKX+BvQihRJPA8CROKBhDNvoc2aDMOdAlcm7TUQY+35XYtrd3yh95QOOhsPDQY9QnKE0Wqag9y38OIgEvb88cA==" crossorigin="anonymous" /> -->

        <!-- Main Stylesheet File -->
        <link href="index.component.css" rel="stylesheet">

      </head>

  <body>


    <!--==========================
      Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <!-- <h1><a href="#intro" class="scrollto">ADNsoft</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="http://192.168.56.1:8887/Logo%20final%20Blanco.png" alt="" title="" /></a> -->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="#about">Acerca de Nosotros</a></li>
          <li><a href="#services">Nuestro Producto</a></li>
          <li><a href="#team">Equipo</a></li>
          <li><a href="#contact">Contacto</a></li>
          <li><a href="/login">Iniciar Sesión</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators"></ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="carousel-background"><img src="https://images.alphacoders.com/510/thumb-1920-510026.jpg"  alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <img src="http://192.168.56.1:8887/EasyFutbol.png" height="450px" width="500px" alt="">
                <!-- <a href="#Servicios" class="btn-get-started scrollto">Comienza</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about" name="#about">
      <div class="container">

        <header class="section-header">
          <h3>Acerca de Nosotros</h3>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="http://192.168.56.1:8887/img/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Nuestra Misión</a></h2>
              <p>
                Brindar software que den soluciones y que agreguen valor, basándonos en la integración de las mejores opciones tecnológicas y prácticas profesionales, comprometiéndonos en una relación creciente y de largo plazo con nuestros clientes.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="http://192.168.56.1:8887/img/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Nuestros Objetivos</a></h2>
              <p>Obtencion de información sobre la disponibilidad de turnos y la realización de las reservas.</p>
              <p>Gestión de las tareas llevadas a cabo por los encargados de los complejos deportivos.</p>
              <p>Brindar información para una mejor toma de decisiones.</p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp center" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="http://192.168.56.1:8887/img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Nuestra Visión</a></h2>
              <p>
                Ser una empresa líder a nivel nacional con proyección global utilizando las últimas tecnologías y con profesionales capacitados.
              </p>

            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">
        <header class="section-header wow fadeInUp">
          <h3>Nuestro Producto</h3>
        </header>
        <h4>Te brindamos las siguientes funcionalidades: </h4>
        <div class="card-columns">
          <div class="card">
            <img class="card-img-top" src="http://192.168.56.1:8887/notificacion.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center" style="color: black;"><b>Sistema de notificaciones</b></h5>
              <p class="card-text">Sistema de notificaciones que te mantedrá alerta acerca de tus próximos partidos, invitaciones y agregado a partidos, etc. Además, cada vez que se reserve un turno, como encargado del complejo recibirás una notificación para mantenerte informado.</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="http://192.168.56.1:8887/Gestion_turno.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center" style="color: black;"><b>Gestión de turnos</b></h5>
              <p class="card-text">Tanto desde la aplicación mobile como desde la web podrás gestionar tu reserva de turnos de manera fácil y rápida para armar el partido de fútbol que tanto deseas.</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="http://192.168.56.1:8887/Canchas.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center" style="color: black;"><b>Disponibilidad de canchas</b></h5>
              <p class="card-text">Podrás ver toda la información de las canchas correspondiente a los complejos que se encuentren registrados en nuestro sistema, para así, facilitarte la elección de la misma. Además, te mostraremos las canchas más cercanas a tu ubicación.</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="http://192.168.56.1:8887/Emparejamiento.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center" style="color: black;"><b>Emeparejamiento de equipos</b></h5>
              <p class="card-text">Luego de haber reservado un turno, te damos la posibilidad de buscar a diferentes jugadores para que los puedas agregar o invitar para que sean parte de tu mismo equipo o del equipo contrario.</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="http://192.168.56.1:8887/Equipo1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center" style="color: black;"><b>Gestión de equipos</b></h5>
              <p class="card-text">Una vez que hayas reservado tu turno en una determinada cancha, te damos la posibilidad de armar tu equipo dentro de la aplicación para que todo te sea más sencillo y rápido a la hora de organizar tu partido. </p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="http://192.168.56.1:8887/Valoracion.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center" style="color: black;"><b>Valoración a jugadores</b></h5>
              <p class="card-text">Después de haber finalizado tu encuentro, te brindamos la opción para poder valorar a los jugadores que concurrieron al mismo para obtener un feedback acerca del mismo en cuanto a su conducta, comportamiento, respeto, etc.</p>
            </div>
          </div>

        </div>

      </div>
    </section>


    <!--==========================
      Facts Section
    ============================-->
    <section id="facts"  class="wow fadeIn">
      <div class="container">
        <header class="section-header">
          <h3>Nuestras Tecnologías</h3>
        </header>
        <div class="row text-center" >
          <div class="col-lg-3 col-md-6 mb-5 wow fadeInUp">
            <img src="http://192.168.56.1:8887/css.png" alt="" width="85px">
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <img src="http://192.168.56.1:8887/html.png" alt="" width="120px" >
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <img src="http://192.168.56.1:8887/js.png" alt="" width="120px">
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <img src="http://192.168.56.1:8887/ionic.png" alt="" width="104px">
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <img src="http://192.168.56.1:8887/postgres.png" alt="" width="100px">
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <img src="http://192.168.56.1:8887/java.png" alt="" width="90px" height="100px">
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <img src="http://192.168.56.1:8887/angular.png" alt="" width="90px" height="100px">
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <img src="http://192.168.56.1:8887/spring.png" alt="" width="100px" height="104px">
          </div>

        </div>

        


          <!-- <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,364</span>
            <p>Horas de soporte</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">18</span>
            <p>Hard Workers</p>
  				</div> -->



      </div>
    </section><!-- #facts -->
    <section id="herramientas">

    </section>
    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header">
          <h3>Equipo</h3>
          <p>“El trabajo en equipo es el secreto que hace que gente común consiga resultados poco comunes”. <b><i>Ifeanyi Onuoha</i></b></p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="http://192.168.56.1:8887/Diego.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Diego Meineri</h4>
                  <span>Developer</span>
                  <div class="social">
                    <a href="https://www.facebook.com/diegomeineri"><i class="fa fa-facebook"></i></a>
                    <a href="mailto:diegomeineri1995@gmail.com"><i class="fa fa-envelope-o"></i></a>
                    <a href="https://www.instagram.com/diegomeineri/"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="http://192.168.56.1:8887/alan.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Alan Terreno</h4>
                  <span>Developer</span>
                  <div class="social">
                    <a href="https://www.facebook.com/alanterreno"><i class="fa fa-facebook"></i></a>
                    <a href="mailto:alan_at94@hotmail.com"><i class="fa fa-envelope-o"></i></a>
                    <a href="https://www.instagram.com/alanterreno/"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="http://192.168.0.179:8887/alisali.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Alihuem Salis</h4>
                  <span>Developer</span>
                  <div class="social">
                    <a href="https://www.facebook.com/ali.salis.587"><i class="fa fa-facebook"></i></a>
                    <a href="mailto:alihuen.salis@gmail.com"><i class="fa fa-envelope-o"></i></a>
                    <a href="https://www.instagram.com/ali.sali5/"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="http://192.168.0.179:8887/nico.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Nicolas Lorenzatti</h4>
                  <span>Developer</span>
                  <div class="social">
                    <a href="https://www.facebook.com/niico.lorenzatti"><i class="fa fa-facebook"></i></a>
                    <a href="mailto:nicolasnoetinger92@gmail.com"><i class="fa fa-envelope-o"></i></a>
                    <a href="https://www.instagram.com/nicolaslorenzatti/"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        </div>






    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contáctanos</h3>
          <p>Ante cualquier duda o consulta no dudes en comunicarte con nosotros. Te atenderemos a la brevedad!</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Dirección</h3>
              <address>Santiago del Estero 1818 - Villa María - Cba</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Teléfono</h3>
              <p><a href="tel:+155895548855">3532415776</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="easyfutbolinformation@gmail.com">easyfutbolinformation@gmail.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Su mensaje ha sido enviado. Gracias!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Tu nombre" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Tu Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensaje"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Nosotros</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Servicios</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-contact">
            <h4>Contáctanos</h4>
            <p>
              Santiago del Estero 1818 <br>
              Villa María - Cba. <br>
              <strong>Teléfono:</strong> 3532415776 <br>
              <strong>Email:</strong> easyfutbolinformation@gmail.com
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com/EasyFutbol-112367227348372%22%3E" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/easyfutbolapp/" class="instagram"><i class="fa fa-instagram"></i></a>
              <!-- <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>ADNsoft</strong>. Todos los derechos reservados
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->


  <!-- JavaScript Libraries -->
  <script src="../../lib/jquery/jquery.min.js"></script>
  <script src="../../lib/jquery/jquery-migrate.min.js"></script>
  <script src="../../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../lib/easing/easing.min.js"></script>
  <script src="../../lib/superfish/hoverIntent.js"></script>
  <script src="../../lib/superfish/superfish.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==" crossorigin="anonymous"></script>
  <script src="../../lib/waypoints/waypoints.min.js"></script>
  <script src="../../lib/counterup/counterup.min.js"></script>
  <script src="../../lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../../lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../../lib/lightbox/js/lightbox.min.js"></script>
  <script src="../../lib/touchSwipe/jquery.touchSwipe.min.js"></script>
   <!-- Contact Form JavaScript File  -->
  <script src="contactform/contactform.js"></script>

   <!-- Template Main Javascript File -->
  <script src="../../../../main.js"></script>



</body>
</html>

