<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </head>
  <header>
    <app-navbar></app-navbar>
  </header>
  <body>
    <div class="container-fluid mt-5 pt-2">
      <div class="container-fluid">
        <div class="row justify-content-between">
          <div class="col-12">
            <h4 class="display-4 text-center">Presupuestos</h4>
            <hr style="border-color: #333736" />
            <p>Aquí podrás ver todos los presupuestos</p>
            <div class="row justify-content-between">
              <div class="button1 col-2">
                <a
                  class="btn btn-success btn-block"
                  [routerLink]="['/presupuestos/nuevo']"
                >
                  Nuevo Presupuesto
                </a>
              </div>
            </div>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">Descuento</th>
                  <th scope="col">Descuento Especial</th>
                  <th scope="col">Flete</th>
                  <th scope="col">Total</th>
                  <th scope="col">Fecha</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of presupuestos">
                  <td>{{ p._id }}</td>
                  <td>{{ p.estado.nombre }}</td>
                  <td>{{ p.cliente.nombre }}</td>
                  <td><strong>%</strong>{{ p.descuento }}</td>
                  <td><strong>$</strong>{{ p.descuentoEspecial }}</td>
                  <td><strong>$</strong>{{ p.flete}}</td>
                  <td><strong>$</strong>{{ p.precio}}</td>
                  <td>{{ p.created}}</td>
                  <td>
                    <button type="button" class="btn btn-outline-danger m-2" (click)="eliminarPresupuesto(p._id)" >Eliminar</button>
                    <button type="button" class="btn btn-outline-primary m-2" (click)="verDetalles(p._id)">Ver Detalles</button>
                    <button type="button" class="btn btn-outline-primary m-2" (click)="verInforme(p._id)">Imprimir</button>
                  </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
